body {
  margin: 0 auto;
  padding: 0;
  background: #222;
}

.card {
  position: absolute;
  width: 450px;
  height: 275px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 35%;
  margin-left: -250px;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

.card img {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 4%;
  margin-bottom: 4%;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  filter: sepia(1);
}

.card span {
  font-family: courier;
}